USE [ThietBiDienTu]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBH] [int] IDENTITY(1,1) NOT NULL,
	[MaDDH] [int] NULL,
	[MaSP] [int] NULL,
	[NgayDH] [date] NULL,
	[MaKH] [int] NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[NoiDungBH] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_BaoHanh] PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MaCTDDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDDH] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MaCTDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDiaChi]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDiaChi](
	[MaCTDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[MaDiaChi] [int] NULL,
	[SoNha] [nvarchar](50) NULL,
	[TenDuong] [nvarchar](50) NULL,
	[PhuongXa] [nvarchar](50) NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[TinhThanh] [nvarchar](50) NULL,
	[MacDinh] [int] NULL,
	[TenNguoiNhan] [nvarchar](50) NULL,
	[SDTNguoiNhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTDiaChi] PRIMARY KEY CLUSTERED 
(
	[MaCTDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTGioHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGioHang](
	[MaCTGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaGioHang] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CTGioHang] PRIMARY KEY CLUSTERED 
(
	[MaCTGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGiaSanPham]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSanPham](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[NoiDungDanhGia] [nvarchar](50) NULL,
	[NgayDanhGia] [date] NULL,
	[MaSP] [int] NULL,
	[TrangThai] [int] NULL,
	[MaKH] [int] NULL,
	[DanhGia] [int] NULL,
 CONSTRAINT [PK_DanhGiaSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DDH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDH](
	[MaDDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NULL,
	[TrangThai] [int] NULL CONSTRAINT [DF_DDH_TrangThai]  DEFAULT ((1)),
	[MaGiamGia] [nvarchar](50) NULL,
	[ThanhTien] [money] NULL,
	[SDTNguoiNhan] [nvarchar](50) NULL,
	[MaNVC] [int] NULL,
	[MaKH] [int] NULL,
	[TenNguoiNhan] [nvarchar](50) NULL,
	[SoNha] [nvarchar](50) NULL,
	[TenDuong] [nvarchar](50) NULL,
	[PhuongXa] [nvarchar](50) NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[TinhThanh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DDH] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
 CONSTRAINT [PK_DiaChi] PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[TongTienGioHang] [money] NULL CONSTRAINT [DF_GioHang_TongTienGioHang]  DEFAULT ((0)),
	[MaKH] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TTLienHe] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[LinkHinhAnhChinh] [varchar](max) NULL,
	[LinkHinhAnhPhu1] [varchar](max) NULL,
	[LinkHinhAnhPhu2] [varchar](max) NULL,
	[LinkHinhAnhPhu3] [varchar](max) NULL,
 CONSTRAINT [PK_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoanHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoanHang](
	[MaHoanHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDDH] [int] NULL,
	[MaKH] [int] NULL,
	[LyDonHoanHang] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoanHang] PRIMARY KEY CLUSTERED 
(
	[MaHoanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HuyHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuyHang](
	[MaHuyDon] [int] IDENTITY(1,1) NOT NULL,
	[MaDDH] [int] NULL,
	[MaKH] [int] NULL,
	[LyDonHuy] [nvarchar](50) NULL,
	[NgayHuy] [date] NULL,
 CONSTRAINT [PK_HuyHang] PRIMARY KEY CLUSTERED 
(
	[MaHuyDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[TenTKKH] [nvarchar](50) NULL,
	[MKTKKH] [nvarchar](50) NULL,
	[AnhKH] [varchar](max) NULL,
	[SoDienThoaiKH] [nvarchar](50) NULL,
	[MaQuyen] [int] NULL CONSTRAINT [DF_KhachHang_MaQuyen]  DEFAULT ((1)),
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia](
	[MaGiamGia] [nvarchar](50) NOT NULL,
	[TenMGG] [nvarchar](50) NULL,
	[SLDaSuDung] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TiLeGiam] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_MaGiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaGiamGia_KhachHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia_KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaGiamGia] [nvarchar](50) NULL,
	[MaKH] [int] NULL,
	[TrangThai] [int] NULL CONSTRAINT [DF_MaGiamGia_KhachHang_TrangThai]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoanAdmin] [nvarchar](50) NULL,
	[MatKhauAdmin] [nvarchar](50) NULL,
	[HoTenAdmin] [nvarchar](50) NULL,
	[AnhAdmin] [varchar](max) NULL,
	[MaQuyen] [int] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaVanChuyen]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaVanChuyen](
	[MaNVC] [int] IDENTITY(1,1) NOT NULL,
	[TenNVC] [nvarchar](50) NULL,
	[ChiPhi] [money] NULL,
	[DiaChiNVC] [nvarchar](max) NULL,
	[SDTNVC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaVanChuyen] PRIMARY KEY CLUSTERED 
(
	[MaNVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
	[MoTaQuyen] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[GiaTien] [money] NULL,
	[UuDai] [int] NULL CONSTRAINT [DF_SanPham_UuDai]  DEFAULT ((0)),
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThongSoKyThuat] [nvarchar](max) NULL,
	[ChinhSachBaoHanh] [nvarchar](max) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [int] NULL,
	[MaHinhAnh] [int] NULL,
	[MaDanhMuc] [int] NULL,
	[MaHang] [int] NULL,
	[SoLuongDaBanRa] [int] NULL CONSTRAINT [DF_SanPham_SoLuongDaBanRa]  DEFAULT ((0)),
	[GiaGoc] [money] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YeuCauBH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauBH](
	[MaPhieuBH] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[MaKH] [int] NULL,
	[MaBH] [int] NULL,
	[NgayYeuCau] [date] NULL,
	[LyDo] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_YeuCauBH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaoHanh] ON 

INSERT [dbo].[BaoHanh] ([MaBH], [MaDDH], [MaSP], [NgayDH], [MaKH], [TenKH], [SDT], [NoiDungBH], [TrangThai]) VALUES (1, 30, 6, CAST(N'2023-11-19' AS Date), 2, N'Đạt', 123123, NULL, 4)
INSERT [dbo].[BaoHanh] ([MaBH], [MaDDH], [MaSP], [NgayDH], [MaKH], [TenKH], [SDT], [NoiDungBH], [TrangThai]) VALUES (2, 30, 8, CAST(N'2023-11-19' AS Date), 2, N'Đạt', 123123, NULL, 1)
INSERT [dbo].[BaoHanh] ([MaBH], [MaDDH], [MaSP], [NgayDH], [MaKH], [TenKH], [SDT], [NoiDungBH], [TrangThai]) VALUES (3, 34, 2, CAST(N'2023-11-21' AS Date), 1, N'Tiến', 21312312, NULL, 4)
SET IDENTITY_INSERT [dbo].[BaoHanh] OFF
SET IDENTITY_INSERT [dbo].[CTDDH] ON 

INSERT [dbo].[CTDDH] ([MaCTDDH], [MaDDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 1, 1, 2, 220000.0000, 440000.0000)
INSERT [dbo].[CTDDH] ([MaCTDDH], [MaDDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, 1, 2, 1, 42900.0000, 42900.0000)
INSERT [dbo].[CTDDH] ([MaCTDDH], [MaDDH], [MaSP], [SoLuong], [DonGia], [ThanhTien]) VALUES (3, 4, 1, 2, 220000.0000, 440000.0000)
GO
SET IDENTITY_INSERT [dbo].[CTDDH] OFF
SET IDENTITY_INSERT [dbo].[CTDiaChi] ON 

INSERT [dbo].[CTDiaChi] ([MaCTDiaChi], [MaDiaChi], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [MacDinh], [TenNguoiNhan], [SDTNguoiNhan]) VALUES (1, 1, N'30', N'Văn Chung', N'Phường 13', N'Tân Bình', N'Hồ Chí Minh', 2, NULL, NULL)
INSERT [dbo].[CTDiaChi] ([MaCTDiaChi], [MaDiaChi], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [MacDinh], [TenNguoiNhan], [SDTNguoiNhan]) VALUES (2, 2, N'312', N'Tân Bình', N'Lang Minh', N'Xuân Lộc', N'Đồng Nai', 2, NULL, NULL)
INSERT [dbo].[CTDiaChi] ([MaCTDiaChi], [MaDiaChi], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [MacDinh], [TenNguoiNhan], [SDTNguoiNhan]) VALUES (3, 3, N'140', N'Lê Trọng Tấn', N'Tây Thạnh', N'Tân Phú', N'Hồ Chí Minh', 2, N'Sin', N'0123456789')
SET IDENTITY_INSERT [dbo].[CTDiaChi] OFF
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] ON 

INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [NoiDungDanhGia], [NgayDanhGia], [MaSP], [TrangThai], [MaKH], [DanhGia]) VALUES (1, N'Sản phẩm dùng tốt. Tôi dùng nghe gọi hàng ngày', CAST(N'2023-11-15' AS Date), 1, 1, 1, 4)
INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [NoiDungDanhGia], [NgayDanhGia], [MaSP], [TrangThai], [MaKH], [DanhGia]) VALUES (2, NULL, CAST(N'2023-11-15' AS Date), 1, 1, 2, 1)
INSERT [dbo].[DanhGiaSanPham] ([MaDanhGia], [NoiDungDanhGia], [NgayDanhGia], [MaSP], [TrangThai], [MaKH], [DanhGia]) VALUES (3, N'Tệ', CAST(N'2023-11-15' AS Date), 2, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[DanhGiaSanPham] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Điện thoại')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Laptop')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Loa')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[DDH] ON 

INSERT [dbo].[DDH] ([MaDDH], [NgayDat], [TrangThai], [MaGiamGia], [ThanhTien], [SDTNguoiNhan], [MaNVC], [MaKH], [TenNguoiNhan], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [GhiChu]) VALUES (1, NULL, 3, NULL, 482900.0000, N'0123456789', 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DDH] ([MaDDH], [NgayDat], [TrangThai], [MaGiamGia], [ThanhTien], [SDTNguoiNhan], [MaNVC], [MaKH], [TenNguoiNhan], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [GhiChu]) VALUES (2, NULL, 3, NULL, NULL, N'0123456789', 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DDH] ([MaDDH], [NgayDat], [TrangThai], [MaGiamGia], [ThanhTien], [SDTNguoiNhan], [MaNVC], [MaKH], [TenNguoiNhan], [SoNha], [TenDuong], [PhuongXa], [QuanHuyen], [TinhThanh], [GhiChu]) VALUES (3, NULL, 3, NULL, NULL, N'0123456789', 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DDH] OFF
SET IDENTITY_INSERT [dbo].[DiaChi] ON 

INSERT [dbo].[DiaChi] ([MaDiaChi], [MaKH]) VALUES (1, 1)
INSERT [dbo].[DiaChi] ([MaDiaChi], [MaKH]) VALUES (2, 1)
INSERT [dbo].[DiaChi] ([MaDiaChi], [MaKH]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGioHang], [TongTienGioHang], [MaKH]) VALUES (1, 0.0000, 1)
INSERT [dbo].[GioHang] ([MaGioHang], [TongTienGioHang], [MaKH]) VALUES (2, 0.0000, 2)
INSERT [dbo].[GioHang] ([MaGioHang], [TongTienGioHang], [MaKH]) VALUES (3, 0.0000, 4)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
SET IDENTITY_INSERT [dbo].[HangSanXuat] ON 

INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa], [TTLienHe]) VALUES (1, N'Samsung', N'Công ty Samsum', N'Công ty Samsum Thái Nguyên')
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa], [TTLienHe]) VALUES (2, N'Apple', N'Công ty Apple', N'Công ty Apple')
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [MoTa], [TTLienHe]) VALUES (3, N'Bose', N'Âm thanh nghe nhạc đến từ Châu Âu', N'Loa bose')
SET IDENTITY_INSERT [dbo].[HangSanXuat] OFF
SET IDENTITY_INSERT [dbo].[HinhAnh] ON 

INSERT [dbo].[HinhAnh] ([MaHinhAnh], [LinkHinhAnhChinh], [LinkHinhAnhPhu1], [LinkHinhAnhPhu2], [LinkHinhAnhPhu3]) VALUES (2, N'samsung-galaxy-s22-anhchinh.jpg', N'samsung-galaxy-s22-anhphu1.jpg', N'samsung-galaxy-s22-anhphu2.jpg', N'samsung-galaxy-s22-anhphu3.jpg')
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [LinkHinhAnhChinh], [LinkHinhAnhPhu1], [LinkHinhAnhPhu2], [LinkHinhAnhPhu3]) VALUES (3, N'Bose-QuietComfort-Ultra-Headphones-anhphu3.jpg', N'Bose-QuietComfort-Ultra-Headphones-anhphu2.jpg', N'Bose-QuietComfort-Ultra-Headphones-anhphu1.jpg', N'Bose-QuietComfort-Ultra-Headphones-anhchinh.jpg')
SET IDENTITY_INSERT [dbo].[HinhAnh] OFF
SET IDENTITY_INSERT [dbo].[HoanHang] ON 

INSERT [dbo].[HoanHang] ([MaHoanHang], [MaDDH], [MaKH], [LyDonHoanHang], [TrangThai]) VALUES (1, 1, 2, N'đổi sản phẩm khác', 1)
INSERT [dbo].[HoanHang] ([MaHoanHang], [MaDDH], [MaKH], [LyDonHoanHang], [TrangThai]) VALUES (2, 34, 1, N'Đã mua', 2)
INSERT [dbo].[HoanHang] ([MaHoanHang], [MaDDH], [MaKH], [LyDonHoanHang], [TrangThai]) VALUES (3, 37, 1, N'Thiếu dây', 1)
SET IDENTITY_INSERT [dbo].[HoanHang] OFF
SET IDENTITY_INSERT [dbo].[HuyHang] ON 

INSERT [dbo].[HuyHang] ([MaHuyDon], [MaDDH], [MaKH], [LyDonHuy], [NgayHuy]) VALUES (1, 5, 2, N'Tìm được sản phẩm giá tốt hơn', CAST(N'2023-11-17' AS Date))
INSERT [dbo].[HuyHang] ([MaHuyDon], [MaDDH], [MaKH], [LyDonHuy], [NgayHuy]) VALUES (2, 6, 2, N'', CAST(N'2023-11-17' AS Date))
INSERT [dbo].[HuyHang] ([MaHuyDon], [MaDDH], [MaKH], [LyDonHuy], [NgayHuy]) VALUES (3, 8, 2, N'', CAST(N'2023-11-17' AS Date))
SET IDENTITY_INSERT [dbo].[HuyHang] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [TenTKKH], [MKTKKH], [AnhKH], [SoDienThoaiKH], [MaQuyen], [Email]) VALUES (1, N'Nguyễn Đình Khang', N'tien', N'123', N'avtTien.jpg', N'0123456789', 1, N'Dinhtien147123@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [TenTKKH], [MKTKKH], [AnhKH], [SoDienThoaiKH], [MaQuyen], [Email]) VALUES (2, N'Sin', N'sin', N'123', N'anhDaiDienSin.jpg', NULL, 1, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [TenTKKH], [MKTKKH], [AnhKH], [SoDienThoaiKH], [MaQuyen], [Email]) VALUES (3, N'Admin', NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [TenMGG], [SLDaSuDung], [NgayBatDau], [NgayKetThuc], [TiLeGiam], [TrangThai]) VALUES (N'', NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [TenMGG], [SLDaSuDung], [NgayBatDau], [NgayKetThuc], [TiLeGiam], [TrangThai]) VALUES (N'g1', N'Giảm 10', 3, CAST(N'2023-12-23' AS Date), CAST(N'2023-12-24' AS Date), 10, 3)
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [TenMGG], [SLDaSuDung], [NgayBatDau], [NgayKetThuc], [TiLeGiam], [TrangThai]) VALUES (N'g5', N'Giảm 5', 3, CAST(N'2023-12-26' AS Date), CAST(N'2023-12-28' AS Date), 5, 3)
SET IDENTITY_INSERT [dbo].[MaGiamGia_KhachHang] ON 

INSERT [dbo].[MaGiamGia_KhachHang] ([ID], [MaGiamGia], [MaKH], [TrangThai]) VALUES (1, N'mgg10', 1, 1)
INSERT [dbo].[MaGiamGia_KhachHang] ([ID], [MaGiamGia], [MaKH], [TrangThai]) VALUES (5, N'mgg10', 2, 1)
INSERT [dbo].[MaGiamGia_KhachHang] ([ID], [MaGiamGia], [MaKH], [TrangThai]) VALUES (9, N'mgg20', 2, 0)
SET IDENTITY_INSERT [dbo].[MaGiamGia_KhachHang] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaAdmin], [TenTaiKhoanAdmin], [MatKhauAdmin], [HoTenAdmin], [AnhAdmin], [MaQuyen]) VALUES (2, N'tiennv', N'123', N'Nguyễn Đình Tiến', N'https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/342198246_888800169084480_1676336618575946222_n.jpg?_nc_cat=100&cb=99be929b-b574a898&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFEicu6eQWO0pBOMc562cDwaKwVmLaaOd9orBWYtpo5321QoYS9sNT4PwajCwKQET2G59JuyZvM6SrZj_iJKBRn&_nc_ohc=28WiVm_7sY8AX98_Jto&_nc_ht=scontent.fsgn5-5.fna&oh=00_AfBDykUVbWRkpewFRzflYEWaSDufM5c7LTpMrPNdNWwWIg&oe=658F8D6C', 3)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhaVanChuyen] ON 

INSERT [dbo].[NhaVanChuyen] ([MaNVC], [TenNVC], [ChiPhi], [DiaChiNVC], [SDTNVC]) VALUES (1, N'GHTK', 40000.0000, NULL, NULL)
INSERT [dbo].[NhaVanChuyen] ([MaNVC], [TenNVC], [ChiPhi], [DiaChiNVC], [SDTNVC]) VALUES (2, N'GHN', 30000.0000, N'Bệnh viên Xuyên Á', N'0124585423')
INSERT [dbo].[NhaVanChuyen] ([MaNVC], [TenNVC], [ChiPhi], [DiaChiNVC], [SDTNVC]) VALUES (3, N'Shopee', 20000.0000, N'Tân Binh', N'0124585423')
SET IDENTITY_INSERT [dbo].[NhaVanChuyen] OFF
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTaQuyen]) VALUES (1, N'Khách Hàng', NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTaQuyen]) VALUES (2, N'Admin', NULL)
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen], [MoTaQuyen]) VALUES (3, N'Nhân Viên', NULL)
SET IDENTITY_INSERT [dbo].[Quyen] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaTien], [UuDai], [SoLuongTon], [MoTa], [ThongSoKyThuat], [ChinhSachBaoHanh], [ThoiGianBaoHanh], [NgayTao], [TrangThai], [MaHinhAnh], [MaDanhMuc], [MaHang], [SoLuongDaBanRa], [GiaGoc]) VALUES (1, N'Điện thoại Samsung Galaxy S22 5G ', 23750000.0000, 5, 21, NULL, NULL, N'Bảo hành nếu có lỗi từ nhà sản xuất', 6, CAST(N'2023-12-08' AS Date), 1, 2, 1, 1, 20, 25000000.0000)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[YeuCauBH] ON 

INSERT [dbo].[YeuCauBH] ([MaPhieuBH], [MaSP], [MaKH], [MaBH], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (2, 6, 2, 1, CAST(N'2023-11-25' AS Date), N'Lỗi loa', 1)
INSERT [dbo].[YeuCauBH] ([MaPhieuBH], [MaSP], [MaKH], [MaBH], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (3, 6, 2, 1, CAST(N'2023-11-25' AS Date), N'Lỏng thanh ram', 3)
INSERT [dbo].[YeuCauBH] ([MaPhieuBH], [MaSP], [MaKH], [MaBH], [NgayYeuCau], [LyDo], [TrangThai]) VALUES (4, 2, 1, 3, CAST(N'2023-11-25' AS Date), N'Hư loa', 3)
SET IDENTITY_INSERT [dbo].[YeuCauBH] OFF
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_DDH1] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DDH] ([MaDDH])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_DDH1]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_KhachHang]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_SanPham]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DDH1] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DDH] ([MaDDH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DDH1]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_SanPham]
GO
ALTER TABLE [dbo].[CTDiaChi]  WITH CHECK ADD  CONSTRAINT [FK_CTDiaChi_DiaChi] FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DiaChi] ([MaDiaChi])
GO
ALTER TABLE [dbo].[CTDiaChi] CHECK CONSTRAINT [FK_CTDiaChi_DiaChi]
GO
ALTER TABLE [dbo].[CTGioHang]  WITH CHECK ADD  CONSTRAINT [FK_CTGioHang_GioHang] FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[CTGioHang] CHECK CONSTRAINT [FK_CTGioHang_GioHang]
GO
ALTER TABLE [dbo].[CTGioHang]  WITH CHECK ADD  CONSTRAINT [FK_CTGioHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTGioHang] CHECK CONSTRAINT [FK_CTGioHang_SanPham]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSanPham_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGiaSanPham] CHECK CONSTRAINT [FK_DanhGiaSanPham_SanPham]
GO
ALTER TABLE [dbo].[DDH]  WITH CHECK ADD  CONSTRAINT [FK_DDH_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DDH] CHECK CONSTRAINT [FK_DDH_KhachHang]
GO
ALTER TABLE [dbo].[DDH]  WITH CHECK ADD  CONSTRAINT [FK_DDH_MaGiamGia1] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[DDH] CHECK CONSTRAINT [FK_DDH_MaGiamGia1]
GO
ALTER TABLE [dbo].[DDH]  WITH CHECK ADD  CONSTRAINT [FK_DDH_NhaVanChuyen1] FOREIGN KEY([MaNVC])
REFERENCES [dbo].[NhaVanChuyen] ([MaNVC])
GO
ALTER TABLE [dbo].[DDH] CHECK CONSTRAINT [FK_DDH_NhaVanChuyen1]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD  CONSTRAINT [FK_DiaChi_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DiaChi] CHECK CONSTRAINT [FK_DiaChi_KhachHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[HoanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoanHang_DDH1] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DDH] ([MaDDH])
GO
ALTER TABLE [dbo].[HoanHang] CHECK CONSTRAINT [FK_HoanHang_DDH1]
GO
ALTER TABLE [dbo].[HoanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoanHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoanHang] CHECK CONSTRAINT [FK_HoanHang_KhachHang]
GO
ALTER TABLE [dbo].[HuyHang]  WITH CHECK ADD  CONSTRAINT [FK_HuyHang_DDH1] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DDH] ([MaDDH])
GO
ALTER TABLE [dbo].[HuyHang] CHECK CONSTRAINT [FK_HuyHang_DDH1]
GO
ALTER TABLE [dbo].[HuyHang]  WITH CHECK ADD  CONSTRAINT [FK_HuyHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HuyHang] CHECK CONSTRAINT [FK_HuyHang_KhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_Quyen]
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[MaGiamGia_KhachHang]  WITH CHECK ADD FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_Admin_Quyen]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanXuat] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangSanXuat] ([MaHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanXuat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HinhAnh] FOREIGN KEY([MaHinhAnh])
REFERENCES [dbo].[HinhAnh] ([MaHinhAnh])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HinhAnh]
GO
ALTER TABLE [dbo].[YeuCauBH]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauBH_BaoHanh] FOREIGN KEY([MaBH])
REFERENCES [dbo].[BaoHanh] ([MaBH])
GO
ALTER TABLE [dbo].[YeuCauBH] CHECK CONSTRAINT [FK_YeuCauBH_BaoHanh]
GO
ALTER TABLE [dbo].[YeuCauBH]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauBH_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[YeuCauBH] CHECK CONSTRAINT [FK_YeuCauBH_KhachHang]
GO
ALTER TABLE [dbo].[YeuCauBH]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauBH_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[YeuCauBH] CHECK CONSTRAINT [FK_YeuCauBH_SanPham]
GO
/****** Object:  StoredProcedure [dbo].[AddToCart]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddToCart]
    @CustomerId INT,
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    -- Kiểm tra xem giỏ hàng của khách hàng đã tồn tại chưa
    IF NOT EXISTS(SELECT * FROM GioHang WHERE MaKH = @CustomerId)
    BEGIN
        -- Nếu giỏ hàng chưa tồn tại, tạo mới giỏ hàng cho khách hàng
        INSERT INTO GioHang(MaKH)
        VALUES (@CustomerId)
    END

    -- Kiểm tra xem sản phẩm đã tồn tại trong chi tiết giỏ hàng chưa
    IF EXISTS(SELECT * FROM CTGioHang WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId)
    BEGIN
        -- Nếu sản phẩm đã tồn tại, cập nhật số lượng và thành tiền
        UPDATE CTGioHang
        SET SoLuong = SoLuong + @Quantity,
            ThanhTien = ThanhTien + (@Quantity * (SELECT GiaTien FROM SanPham WHERE MaSP = @ProductId))
        WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId
    END
    ELSE
    BEGIN
        -- Nếu sản phẩm chưa tồn tại, thêm mới vào chi tiết giỏ hàng
        INSERT INTO CTGioHang(MaGioHang, MaSP, SoLuong, ThanhTien)
        VALUES ((SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId), @ProductId, @Quantity, @Quantity * (SELECT GiaTien FROM SanPham WHERE MaSP = @ProductId))
    END

    -- Cập nhật tổng tiền trong bảng giỏ hàng
    UPDATE GioHang
    SET TongTienGioHang = TongTienGioHang + (@Quantity * (SELECT GiaTien FROM SanPham WHERE MaSP = @ProductId))
    WHERE MaKH = @CustomerId
END



GO
/****** Object:  StoredProcedure [dbo].[CapNhatGHThanhCong]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhatGHThanhCong]
    @MaDDH INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật trạng thái của đơn đặt hàng trong bảng DDH thành 3 (Giao hàng thành công) chỉ khi trạng thái hiện tại là 2
    UPDATE [dbo].[DDH]
    SET [TrangThai] = 3
    WHERE [MaDDH] = @MaDDH AND [TrangThai] = 2;

END


GO
/****** Object:  StoredProcedure [dbo].[CapNhatGiaoHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhatGiaoHang]
    @MaDDH INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật trạng thái của đơn đặt hàng trong bảng DDH thành 3 (Giao hàng thành công) chỉ khi trạng thái hiện tại là 2
    UPDATE [dbo].[DDH]
    SET [TrangThai] = 2
    WHERE [MaDDH] = @MaDDH AND [TrangThai] = 1;

END


GO
/****** Object:  StoredProcedure [dbo].[CapNhatHuyDonHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhatHuyDonHang]
    @MaKH INT,
    @MaDDH INT,
    @LyDo NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Thêm dữ liệu vào bảng HuyHang
    INSERT INTO [dbo].[HuyHang] ([MaDDH], [MaKH], [LyDonHuy], [NgayHuy])
    VALUES (@MaDDH, @MaKH, @LyDo, GETDATE());

    -- Cập nhật trạng thái của đơn đặt hàng trong bảng DDH thành 4
    UPDATE [dbo].[DDH]
    SET [TrangThai] = 4
    WHERE [MaDDH] = @MaDDH;
	UPDATE SP
    SET SP.SoLuongDaBanRa = SP.SoLuongDaBanRa - CT.SoLuong,
        SP.SoLuongTon = SP.SoLuongTon + CT.SoLuong
    FROM SanPham SP
    INNER JOIN CTDDH CT ON SP.MaSP = CT.MaSP
    WHERE CT.MaDDH = @MaDDH
      AND EXISTS (
        SELECT 1
        FROM DDH D
        WHERE D.MaDDH = @MaDDH AND D.MaKH = @MaKH
      );
END

GO
/****** Object:  StoredProcedure [dbo].[CapNhatHuyDonHangByMaDDH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhatHuyDonHangByMaDDH]
    @MaDDH INT,
    @LyDo NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Thêm dữ liệu vào bảng HuyHang
    INSERT INTO [dbo].[HuyHang] ([MaDDH], [MaKH], [LyDonHuy], [NgayHuy])
    VALUES (@MaDDH, 3, @LyDo, GETDATE());

    -- Cập nhật trạng thái của đơn đặt hàng trong bảng DDH thành 4
    UPDATE [dbo].[DDH]
    SET [TrangThai] = 4
    WHERE [MaDDH] = @MaDDH;

    -- Cập nhật lại SoLuongBanRa và SoLuongTon trong bảng SanPham
    UPDATE SP
    SET SP.SoLuongDaBanRa = SP.SoLuongDaBanRa - CT.SoLuong,
        SP.SoLuongTon = SP.SoLuongTon + CT.SoLuong
    FROM SanPham SP
    INNER JOIN CTDDH CT ON SP.MaSP = CT.MaSP
    WHERE CT.MaDDH = @MaDDH;

END

GO
/****** Object:  StoredProcedure [dbo].[CreateOrderFromCart]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrderFromCart]
(
  @CustomerId INT,
  @MaGiamGia NVARCHAR(10),
  @MaNVC int,
  @HouseNumber NVARCHAR(50),
  @StreetName NVARCHAR(50),
  @Ward NVARCHAR(50),
  @District NVARCHAR(50), 
  @Province NVARCHAR(50),

  @UserRc NVARCHAR(50),
  @PhoneNo NVARCHAR(50),
  @GhiChu Nvarchar(max)
)
AS 
BEGIN
  BEGIN TRANSACTION

    -- Thêm đơn hàng
    INSERT INTO DDH (MaKH, SoNha, TenDuong, PhuongXa, QuanHuyen,  
                      TinhThanh, TenNguoiNhan, SDTNguoiNhan, MaNVC, MaGiamGia, NgayDat, GhiChu)
    VALUES (@CustomerId, @HouseNumber, @StreetName, @Ward, @District, 
            @Province, @UserRc, @PhoneNo, @MaNVC, @MaGiamGia,GETDATE(),@GhiChu);
    
    -- Lấy ID đơn hàng vừa tạo
    DECLARE @OrderId INT;
    SET @OrderId = @@IDENTITY;

    -- Thêm chi tiết đơn hàng
    INSERT INTO CTDDH (MaDDH, MaSP, SoLuong, DonGia, ThanhTien)  
    SELECT @OrderId, CTGH.MaSP, CTGH.SoLuong, SP.GiaTien, 
           CTGH.SoLuong * SP.GiaTien
    FROM CTGioHang CTGH JOIN SanPham SP 
      ON CTGH.MaSP = SP.MaSP
    WHERE CTGH.MaGioHang IN (
      SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId
    );
	UPDATE p
	SET p.SoLuongDaBanRa += c.SoLuong,
		p.SoLuongTon = p.SoLuongTon - c.SoLuong,
		p.TrangThai = CASE WHEN p.SoLuongTon <= 0 THEN 2 ELSE p.TrangThai END
	FROM SanPham p
	INNER JOIN CTGioHang c ON p.MaSP = c.MaSP
	INNER JOIN GioHang g ON c.MaGioHang = g.MaGioHang
	WHERE g.MaKH = @CustomerId;

    -- Xóa giỏ hàng
    DELETE FROM CTGioHang
    WHERE MaGioHang IN (
      SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId
    );

    -- Tính tổng tiền đơn hàng
    DECLARE @TongTien FLOAT;
    SELECT @TongTien = SUM(ThanhTien)
    FROM CTDDH
    WHERE MaDDH = @OrderId;

    -- Lấy % giảm giá
    DECLARE @PhanTramGiam FLOAT;
    SELECT @PhanTramGiam = TiLeGiam 
    FROM MaGiamGia
    WHERE MaGiamGia = @MaGiamGia;

	Declare @TienVC money;
	Select @TienVC = ChiPhi
	from NhaVanChuyen
	where MaNVC=@MaNVC
    -- Tính tiền giảm
    DECLARE @TienGiam FLOAT;
    SET @TienGiam = @TongTien * @PhanTramGiam / 100;

    -- Cập nhật lại tổng tiền đơn hàng
    UPDATE DDH 
    SET  
      ThanhTien = @TongTien - @TienGiam +@TienVC
    WHERE
      MaDDH = @OrderId;
    
    -- Cập nhật tổng tiền giỏ hàng = 0
    UPDATE GioHang  
    SET TongTienGioHang = 0
    WHERE MaKH = @CustomerId;

  COMMIT TRANSACTION
END


GO
/****** Object:  StoredProcedure [dbo].[danhGia]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[danhGia]
  @MaKH INT,
  @MaSP INT,
  @NoiDung NVARCHAR(50),
  @SoSao INT
  
AS
BEGIN
  SET NOCOUNT ON;
  declare @ResultCode INT
  BEGIN TRY
    BEGIN TRANSACTION;

    -- Kiểm tra xem khách hàng đã mua sản phẩm đó chưa
    IF EXISTS (
        SELECT 1
        FROM [ThietBiDienTu].[dbo].[CTDDH] ct
        INNER JOIN [ThietBiDienTu].[dbo].[DDH] ddh ON ct.MaDDH = ddh.MaDDH
        WHERE ddh.MaKH = @MaKH
        AND ct.MaSP = @MaSP
        AND ddh.TrangThai = 3
    )
    BEGIN
      -- Kiểm tra xem khách hàng đã đánh giá sản phẩm chưa
      IF NOT EXISTS (
          SELECT 1
          FROM [ThietBiDienTu].[dbo].[DanhGiaSanPham]
          WHERE MaKH = @MaKH
          AND MaSP = @MaSP
      )
      BEGIN
        -- Thêm đánh giá vào bảng DanhGiaSanPham
        INSERT INTO [ThietBiDienTu].[dbo].[DanhGiaSanPham] (
          [NoiDungDanhGia],
          [NgayDanhGia],
          [MaSP],
          [TrangThai],
          [MaKH],
          [DanhGia]
        )
        VALUES (
          @NoiDung,
          GETDATE(),
          @MaSP,
          3, 
          @MaKH,
          @SoSao
        );

        SET @ResultCode = 1; -- Đánh giá thành công
      END
      ELSE
      BEGIN
        SET @ResultCode = -1; -- Đã đánh giá trước đó
      END
    END
    ELSE
    BEGIN
      SET @ResultCode = 0; -- Chưa mua sản phẩm này
    END

    COMMIT;
  END TRY
  BEGIN CATCH
    ROLLBACK;
    SET @ResultCode = -2;
	
	 -- Lỗi trong quá trình thực hiện
  END CATCH
  select @ResultCode as ketqua
END

GO
/****** Object:  StoredProcedure [dbo].[GetCartItems]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCartItems]
    @CustomerId INT
AS
BEGIN
    SELECT P.MaSP, P.TenSP, P.GiaTien, CD.SoLuong, CD.ThanhTien, HA.LinkHinhAnhChinh, GH.TongTienGioHang, P.SoLuongTon
    FROM SanPham P
    INNER JOIN CTGioHang CD ON P.MaSP = CD.MaSP
    INNER JOIN HinhAnh HA ON P.MaHinhAnh = HA.MaHinhAnh
    INNER JOIN GioHang GH ON CD.MaGioHang = GH.MaGioHang
    WHERE CD.MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId)
END

GO
/****** Object:  StoredProcedure [dbo].[GetCustomerAddress]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerAddress]
	@CustomerId INT
AS
BEGIN
	SELECT 
		CTDC.SoNha, 
		CTDC.TenDuong,
		CTDC.PhuongXa,
		CTDC.QuanHuyen,
		CTDC.TinhThanh,
		CTDC.MacDinh,
		CTDC.TenNguoiNhan,
		CTDC.SDTNguoiNhan
	FROM CTDiaChi CTDC
	INNER JOIN DiaChi DC ON CTDC.MaDiaChi = DC.MaDiaChi
	WHERE DC.MaKH = @CustomerId
END


GO
/****** Object:  StoredProcedure [dbo].[GetDanhGia1]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDanhGia1]
AS
BEGIN

  SELECT
    dg.MaDanhGia,
    dg.NoiDungDanhGia, 
    dg.NgayDanhGia,
    dg.MaSP,
    dg.TrangThai, 
    dg.MaKH,
    dg.DanhGia,
    
    sp.TenSP,
    sp.MaHinhAnh,
    
    ha.LinkHinhAnhChinh,
    
    kh.TenKH

  FROM DanhGiaSanPham dg
  
  INNER JOIN SanPham sp ON dg.MaSP = sp.MaSP
  INNER JOIN HinhAnh ha ON sp.MaHinhAnh = ha.MaHinhAnh
  INNER JOIN KhachHang kh ON dg.MaKH = kh.MaKH

  WHERE dg.TrangThai = 1

END


GO
/****** Object:  StoredProcedure [dbo].[GetDanhGia2]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDanhGia2]
AS
BEGIN

  SELECT
    dg.MaDanhGia,
    dg.NoiDungDanhGia, 
    dg.NgayDanhGia,
    dg.MaSP,
    dg.TrangThai, 
    dg.MaKH,
    dg.DanhGia,
    
    sp.TenSP,
    sp.MaHinhAnh,
    
    ha.LinkHinhAnhChinh,
    
    kh.TenKH

  FROM DanhGiaSanPham dg
  
  INNER JOIN SanPham sp ON dg.MaSP = sp.MaSP
  INNER JOIN HinhAnh ha ON sp.MaHinhAnh = ha.MaHinhAnh
  INNER JOIN KhachHang kh ON dg.MaKH = kh.MaKH

  WHERE dg.TrangThai = 2

END


GO
/****** Object:  StoredProcedure [dbo].[GetDanhGia3]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDanhGia3]
AS
BEGIN

  SELECT
    dg.MaDanhGia,
    dg.NoiDungDanhGia, 
    dg.NgayDanhGia,
    dg.MaSP,
    dg.TrangThai, 
    dg.MaKH,
    dg.DanhGia,
    
    sp.TenSP,
    sp.MaHinhAnh,
    
    ha.LinkHinhAnhChinh,
    
    kh.TenKH

  FROM DanhGiaSanPham dg
  
  INNER JOIN SanPham sp ON dg.MaSP = sp.MaSP
  INNER JOIN HinhAnh ha ON sp.MaHinhAnh = ha.MaHinhAnh
  INNER JOIN KhachHang kh ON dg.MaKH = kh.MaKH

  WHERE dg.TrangThai = 3

END


GO
/****** Object:  StoredProcedure [dbo].[GetHoanHangByMaKH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHoanHangByMaKH]
(
    @MaKH INT
)
AS
BEGIN
    SELECT 
        HH.MaHoanHang,
        HH.MaDDH,
        HH.LyDonHoanHang,
        HH.TrangThai,
        DDH.NgayDat,
        DDH.TrangThai AS TrangThaiDDH,
        DDH.SDTNguoiNhan,
        DDH.TenNguoiNhan,
        DDH.SoNha,
        DDH.TenDuong,
        DDH.PhuongXa,
        DDH.QuanHuyen,
        DDH.TinhThanh,
        DDH.GhiChu,
        DDH.ThanhTien
    FROM 
        [ThietBiDienTu].[dbo].[HoanHang] HH
    INNER JOIN 
        [ThietBiDienTu].[dbo].[DDH] DDH ON HH.MaDDH = DDH.MaDDH
    WHERE 
        DDH.MaKH = @MaKH;
END

GO
/****** Object:  StoredProcedure [dbo].[GetMaGiamGiaInfoForKhachHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMaGiamGiaInfoForKhachHang]
    @MaKH INT
AS
BEGIN
    SELECT 
        KH.MaKH,
        KH.TenKH,
        MG.MaGiamGia,
        MG.TenMGG,
        MG.SLDaSuDung,
        MG.NgayBatDau,
        MG.NgayKetThuc,
        MG.TiLeGiam,
        MGH.TrangThai AS TrangThaiMaGiamGia
    FROM 
        KhachHang KH
    LEFT JOIN 
        MaGiamGia_KhachHang MGH ON KH.MaKH = MGH.MaKH
    LEFT JOIN 
        MaGiamGia MG ON MGH.MaGiamGia = MG.MaGiamGia
    WHERE
        KH.MaKH = @MaKH;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetMaGiamGiaInfoForKhachHangAndTrangThai]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetMaGiamGiaInfoForKhachHangAndTrangThai]
    @MaKH INT,
	@TrangThai INT
AS
BEGIN
    SELECT 
        KH.MaKH,
        KH.TenKH,
        MG.MaGiamGia,
        MG.TenMGG,
        MG.SLDaSuDung,
        MG.NgayBatDau,
        MG.NgayKetThuc,
        MG.TiLeGiam,
        MGH.TrangThai AS TrangThaiMaGiamGia
    FROM 
        KhachHang KH
    LEFT JOIN 
        MaGiamGia_KhachHang MGH ON KH.MaKH = MGH.MaKH
    LEFT JOIN 
        MaGiamGia MG ON MGH.MaGiamGia = MG.MaGiamGia
    WHERE
        KH.MaKH = @MaKH and MGH.TrangThai=@TrangThai
END;

GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByCustomerId]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetOrderInfoByCustomerId]
(
  @MaKH INT
)
AS
BEGIN

  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
    DDH.TrangThai,   
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
    MGG.TiLeGiam

  FROM DDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE DDH.MaKH = @MaKH

END


GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByCustomerIdAndOrderIDAndStatus]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetOrderInfoByCustomerIdAndOrderIDAndStatus]
(
  @MaKH INT,
  @MaDDH INT,
  @TrangThai INT
)
AS
BEGIN

  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
       DDH.TrangThai,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
	SP.MASP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
	NV.ChiPhi,
    MGG.TiLeGiam

  FROM DDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE 
    DDH.MaKH = @MaKH AND
    DDH.MaDDH = @MaDDH AND
    DDH.TrangThai = @TrangThai;

END


GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByCustomerIdAndStatus]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetOrderInfoByCustomerIdAndStatus]
(
  @MaKH INT,
  @TrangThai INT
)
AS
BEGIN

  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
       DDH.TrangThai,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
	SP.MASP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
	NV.ChiPhi,
    MGG.TiLeGiam

  FROM DDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE DDH.MaKH = @MaKH AND DDH.TrangThai = @TrangThai;

END


GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByMaDDH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[GetOrderInfoByMaDDH]
(
  @MaDDH INT
)
AS
BEGIN
  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
    DDH.TrangThai,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
    NV.ChiPhi,
    MGG.TiLeGiam

  FROM DDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE 
    DDH.MaDDH = @MaDDH;

END


GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByMaHoanHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[GetOrderInfoByMaHoanHang]
(
  @MaHoanHang INT
)
AS
BEGIN
  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
    DDH.TrangThai AS TrangThaiDDH,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
    NV.ChiPhi,
    MGG.TiLeGiam,

    HH.MaHoanHang,
    HH.LyDonHoanHang,
    HH.TrangThai AS TrangThaiHoanHang

  FROM HoanHang HH
  LEFT JOIN DDH ON HH.MaDDH = DDH.MaDDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE 
    HH.MaHoanHang = @MaHoanHang;

ENd

GO
/****** Object:  StoredProcedure [dbo].[GetOrderInfoByStatus1]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[GetOrderInfoByStatus1]
(
  @TrangThai INT
)
AS
BEGIN
  SELECT 
    DDH.MaDDH,
    DDH.NgayDat,
    DDH.TrangThai,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
    SP.MaSP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
    NV.ChiPhi,
    MGG.TiLeGiam

  FROM DDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE 
    DDH.TrangThai = @TrangThai;
END



GO
/****** Object:  StoredProcedure [dbo].[HienThiHoanHangBangTrangThai]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[HienThiHoanHangBangTrangThai]
(
  @TrangThai INT
)
AS
BEGIN
  SELECT 
    HH.MaHoanHang,
    HH.MaDDH,
    HH.LyDonHoanHang,
    HH.TrangThai AS TrangThaiHoanHang,
	HH.MAKH,
    DDH.NgayDat,
    DDH.TrangThai AS TrangThaiDDH,
    DDH.SDTNguoiNhan,
    DDH.TenNguoiNhan,
    DDH.SoNha,
    DDH.TenDuong,
    DDH.PhuongXa,
    DDH.QuanHuyen,
    DDH.TinhThanh,
    DDH.GhiChu,
    DDH.ThanhTien,

    SP.TenSP,
    SP.MaSP,
    SP.GiaTien,
    CTDDH.SoLuong,
    CTDDH.ThanhTien as ThanhTienSP,
    
    HA.LinkHinhAnhChinh,
    NV.TenNVC,
    NV.ChiPhi,
    MGG.TiLeGiam

  FROM HoanHang HH
  LEFT JOIN DDH ON HH.MaDDH = DDH.MaDDH
  LEFT JOIN CTDDH ON DDH.MaDDH = CTDDH.MaDDH
  LEFT JOIN SanPham SP ON CTDDH.MaSP = SP.MaSP
  LEFT JOIN HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh 
  LEFT JOIN NhaVanChuyen NV ON DDH.MaNVC = NV.MaNVC
  LEFT JOIN MaGiamGia MGG ON DDH.MaGiamGia = MGG.MaGiamGia
  
  WHERE 
    HH.TrangThai = @TrangThai;
END


GO
/****** Object:  StoredProcedure [dbo].[InsertCustomerAddress]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCustomerAddress]
	@CustomerId INT,
	@HouseNumber NVARCHAR(50),
	@StreetName NVARCHAR(50),
	@Ward NVARCHAR(50),
	@District NVARCHAR(50), 
	@Province NVARCHAR(50),
	@IsDefault int,
	@UserRc NVARCHAR(50),
	@PhoneNo NVARCHAR(50)
AS  
BEGIN
 IF @IsDefault = 1
    BEGIN
        UPDATE CTDiaChi
        SET MacDinh = 2
        WHERE MaDiaChi IN (SELECT MaDiaChi FROM DiaChi WHERE MaKH = @CustomerId)
    END
	INSERT INTO DiaChi (MaKH)
	VALUES (@CustomerId)

	DECLARE @AddressId INT
	SET @AddressId = SCOPE_IDENTITY()

	INSERT INTO CTDiaChi(MaDiaChi, SoNha, TenDuong, PhuongXa, QuanHuyen, TinhThanh, MacDinh, TenNguoiNhan,SDTNguoiNhan)
	VALUES(@AddressId, @HouseNumber, @StreetName, @Ward, @District, @Province, @IsDefault, @UserRc, @PhoneNo)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertHoanTraDonHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertHoanTraDonHang]
    @MaDDH INT,
    @MaKH INT,
    @LyDo NVARCHAR(MAX)
AS
BEGIN
    -- Thêm dữ liệu vào bảng HoanHang
    INSERT INTO [ThietBiDienTu].[dbo].[HoanHang] ([MaDDH], [MaKH], [LyDonHoanHang], [TrangThai])
    VALUES (@MaDDH, @MaKH, @LyDo, 3); -- Trạng thái của HoanHang là 3

    -- Cập nhật trạng thái của DDH là 5
    UPDATE [ThietBiDienTu].[dbo].[DDH]
    SET [TrangThai] = 5
    WHERE [MaDDH] = @MaDDH;
END

GO
/****** Object:  StoredProcedure [dbo].[layDanhGia]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[layDanhGia]
  @MaSP int
AS
BEGIN
  SELECT
    KH.TenKH,
    DG.NgayDanhGia,
    DG.NoiDungDanhGia,
    DG.DanhGia AS Sosaodanhgia
  FROM
    [ThietBiDienTu].[dbo].[DanhGiaSanPham] DG
    INNER JOIN [ThietBiDienTu].[dbo].[KhachHang] KH ON DG.MaKH = KH.MaKH
  WHERE
    DG.MaSP = @MaSP and
	DG.TrangThai=1
  ORDER BY
    DG.NgayDanhGia DESC;
END


GO
/****** Object:  StoredProcedure [dbo].[LayHangBangMaDanhMuc]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayHangBangMaDanhMuc]
    @MaDanhMuc INT
AS
BEGIN
    SELECT NSX.MaHang
          ,NSX.TenHang
          ,NSX.MoTa
          ,NSX.TTLienHe
    FROM HangSanXuat NSX
    INNER JOIN SanPham SP ON NSX.MaHang = SP.MaHang
    WHERE SP.[MaDanhMuc] = @MaDanhMuc
    GROUP BY NSX.MaHang, NSX.TenHang, NSX.MoTa, NSX.TTLienHe
END

GO
/****** Object:  StoredProcedure [dbo].[LuuMaGiamGiaForKhachHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LuuMaGiamGiaForKhachHang]
    @MaGiamGia nvarchar(50),
    @MaKH INT
AS
BEGIN
    INSERT INTO MaGiamGia_KhachHang (MaGiamGia, MaKH)
    VALUES (@MaGiamGia, @MaKH);
END;

GO
/****** Object:  StoredProcedure [dbo].[RemoveFromCart]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveFromCart]
    @CustomerId INT,
    @ProductId INT
AS
BEGIN
    -- Kiểm tra xem sản phẩm đã tồn tại trong chi tiết giỏ hàng chưa
    IF EXISTS(SELECT * FROM CTGioHang WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId)
    BEGIN
        -- Lấy thông tin sản phẩm để tính lại giá trước khi xóa
        DECLARE @ProductPrice DECIMAL(10, 2)
        SET @ProductPrice = (SELECT GiaTien FROM SanPham WHERE MaSP = @ProductId)

        -- Lấy số lượng của sản phẩm trong giỏ hàng
        DECLARE @Quantity INT
        SET @Quantity = (SELECT SoLuong FROM CTGioHang WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId)

        -- Cập nhật tổng tiền trong bảng giỏ hàng
        UPDATE GioHang
        SET TongTienGioHang = TongTienGioHang - (@Quantity * @ProductPrice)
        WHERE MaKH = @CustomerId

        -- Xóa sản phẩm khỏi chi tiết giỏ hàng
        DELETE FROM CTGioHang
        WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId
    END
END



GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiBaoHanh]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatTrangThaiBaoHanh]
    @MaPhieuBH INT,
    @TrangThaiYeuCauBH INT,
    @TrangThaiBaoHanh INT
AS
BEGIN
    -- Cập nhật TrangThai trong bảng YeuCauBH
    UPDATE YeuCauBH
    SET TrangThai = @TrangThaiYeuCauBH
    WHERE MaPhieuBH = @MaPhieuBH;

    -- Cập nhật TrangThai trong bảng BaoHanh
    UPDATE BaoHanh
    SET TrangThai = @TrangThaiBaoHanh
    WHERE MaBH IN (SELECT MaBH FROM YeuCauBH WHERE MaPhieuBH = @MaPhieuBH);

END

GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiBaoHanh]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiBaoHanh]
    @MaKH INT
AS
BEGIN
    SELECT 
        BH.MaBH,
        BH.MaDDH,
        BH.MaSP,
        SP.TenSP,
        SP.GiaTien,
        SP.UuDai,
        SP.SoLuongTon,
        SP.MoTa,
        SP.ThongSoKyThuat,
        SP.ChinhSachBaoHanh,
        SP.ThoiGianBaoHanh,
        BH.NgayDH,
        BH.MaKH,
        BH.TenKH,
        BH.SDT,
        BH.NoiDungBH,
        BH.TrangThai,
        HA.LinkHinhAnhChinh
    FROM 
        BaoHanh BH
    INNER JOIN 
        SanPham SP ON BH.MaSP = SP.MaSP
    INNER JOIN 
        HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh
    WHERE 
        BH.MaKH = @MaKH;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiBaoHanhTheoMaBH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiBaoHanhTheoMaBH]
    @MaBH INT
AS
BEGIN
    SELECT 
        BH.MaBH,
        BH.MaDDH,
        BH.MaSP,
        SP.TenSP,
        SP.GiaTien,
        SP.UuDai,
        SP.SoLuongTon,
        SP.MoTa,
        SP.ThongSoKyThuat,
        SP.ChinhSachBaoHanh,
        SP.ThoiGianBaoHanh,
        BH.NgayDH,
        BH.MaKH,
        BH.TenKH,
        BH.SDT,
        BH.NoiDungBH,
        BH.TrangThai,
        HA.LinkHinhAnhChinh
    FROM 
        BaoHanh BH
    INNER JOIN 
        SanPham SP ON BH.MaSP = SP.MaSP
    INNER JOIN 
        HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh
    WHERE 
        BH.MaBH = @MaBH;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiHuyDH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiHuyDH]
    @MaKH INT
AS
BEGIN
    SELECT 
        H.MaHuyDon,
        D.MaDDH,
        H.LyDonHuy,
        H.NgayHuy,
        KH_HuyHang.TenKH
    FROM
        HuyHang H
    INNER JOIN
        DDH D ON H.MaDDH = D.MaDDH
    INNER JOIN
        KhachHang KH_DDHDatHang ON D.MaKH = KH_DDHDatHang.MaKH
    INNER JOIN
        KhachHang KH_HuyHang ON H.MaKH = KH_HuyHang.MaKH
    WHERE
        D.MaKH = @MaKH AND D.TrangThai = 4;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiYeuCauBHTheoMaKH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiYeuCauBHTheoMaKH]
    @MaKH INT
AS
BEGIN
    SELECT 
        YCBH.MaPhieuBH,
        YCBH.MaSP,
        YCBH.MaKH,
        YCBH.MaBH,
        YCBH.NgayYeuCau,
        YCBH.LyDo,
        YCBH.TrangThai,
        BH.TenKH AS TenKhachHang,
        SP.TenSP,
        HA.LinkHinhAnhChinh
    FROM 
        YeuCauBH YCBH
    INNER JOIN 
        BaoHanh BH ON YCBH.MaBH = BH.MaBH
    INNER JOIN 
        SanPham SP ON YCBH.MaSP = SP.MaSP
    INNER JOIN 
        HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh
    WHERE 
        YCBH.MaKH = @MaKH;

END


GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiYeuCauBHTheoTrangThai]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HienThiYeuCauBHTheoTrangThai]
    @TrangThai INT
AS
BEGIN
    SELECT 
        YCBH.MaPhieuBH,
        YCBH.MaSP,
        YCBH.MaKH,
        YCBH.MaBH,
        YCBH.NgayYeuCau,
        YCBH.LyDo,
        YCBH.TrangThai,
        BH.TenKH AS TenKhachHang,
        SP.TenSP,
        HA.LinkHinhAnhChinh
    FROM 
        YeuCauBH YCBH
    INNER JOIN 
        BaoHanh BH ON YCBH.MaBH = BH.MaBH
    INNER JOIN 
        SanPham SP ON YCBH.MaSP = SP.MaSP
    INNER JOIN 
        HinhAnh HA ON SP.MaHinhAnh = HA.MaHinhAnh
    WHERE 
        YCBH.TrangThai = @TrangThai;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_TaoYeuCauBH]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoYeuCauBH]
    @MaBH INT,
    @LyDo NVARCHAR(MAX)
AS
BEGIN
    DECLARE @MaSP INT;
    DECLARE @MaKH INT;
    DECLARE @NgayYeuCau DATE;

    -- Lấy thông tin từ bảng BaoHanh
    SELECT @MaSP = MaSP, @MaKH = MaKH, @NgayYeuCau = GETDATE()
    FROM BaoHanh
    WHERE MaBH = @MaBH;

    -- Cập nhật TrangThai trong bảng BaoHanh thành 4
    UPDATE BaoHanh
    SET TrangThai = 4
    WHERE MaBH = @MaBH;

    -- Thêm vào bảng YeuCauBH
    INSERT INTO YeuCauBH (MaSP, MaKH, MaBH, NgayYeuCau, LyDo, TrangThai)
    VALUES (@MaSP, @MaKH, @MaBH, @NgayYeuCau, @LyDo, 3);

END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeHDTheoKhoang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHDTheoKhoang]
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TrangThai INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
    FROM
        DDH
    INNER JOIN
        KhachHang ON DDH.MaKH = KhachHang.MaKH
    WHERE
        DDH.NgayDat BETWEEN @NgayBatDau AND @NgayKetThuc
        AND DDH.TrangThai = @TrangThai
    ORDER BY
        DDH.NgayDat;
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaDonTheoNam]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ThongKeHoaDonTheoNam]
    @Nam INT,
    @TrangThai INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
    FROM
        DDH
    INNER JOIN
        KhachHang ON DDH.MaKH = KhachHang.MaKH
    WHERE
        YEAR(DDH.NgayDat) = @Nam
        AND DDH.TrangThai = @TrangThai
    GROUP BY
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
END


GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaDonTheoNgay]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHoaDonTheoNgay]
    @Ngay INT,
    @Thang INT,
    @Nam INT,
    @TrangThai INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NgayDat DATE
    SET @NgayDat = DATEFROMPARTS(@Nam, @Thang, @Ngay)

    SELECT
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
    FROM
        DDH
    INNER JOIN
        KhachHang ON DDH.MaKH = KhachHang.MaKH
    WHERE
        DDH.NgayDat = @NgayDat
        AND DDH.TrangThai = @TrangThai
    GROUP BY
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaDonTheoThang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHoaDonTheoThang]
    @Thang INT,
    @Nam INT,
    @TrangThai INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
    FROM
        DDH
    INNER JOIN
        KhachHang ON DDH.MaKH = KhachHang.MaKH
    WHERE
        MONTH(DDH.NgayDat) = @Thang
        AND YEAR(DDH.NgayDat) = @Nam
        AND DDH.TrangThai = @TrangThai
    GROUP BY
        DDH.MaDDH,
        DDH.ThanhTien,
        KhachHang.TenKH,
        DDH.MaGiamGia
END

GO
/****** Object:  StoredProcedure [dbo].[ThongKeNam]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeNam]
    @Year INT
AS
BEGIN
    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;
    DECLARE @SLHDTuan INT;
    DECLARE @TienTuan MONEY;
    DECLARE @SLSP INT;

    SET @StartDate = DATEFROMPARTS(@Year, 1, 1);
    SET @EndDate = DATEADD(YEAR, 1, @StartDate);

    SELECT
        @SLHDTuan = COUNT(DISTINCT DDH.MaDDH),
        @TienTuan = SUM(DDH.ThanhTien),
        @SLSP = SUM(CTDDH.SoLuong)
    FROM
        DDH
    INNER JOIN
        CTDDH ON DDH.MaDDH = CTDDH.MaDDH
    WHERE
        DDH.NgayDat >= @StartDate AND DDH.NgayDat < @EndDate
        AND DDH.TrangThai = 3; -- Thêm điều kiện TrangThai = 3

    -- Hiển thị kết quả
    SELECT
        SLHDNam = @SLHDTuan,
        TienNam = @TienTuan,
        SLSP = @SLSP;
END;

GO
/****** Object:  StoredProcedure [dbo].[ThongKeThang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeThang]
    @Year INT,
    @Month INT
AS
BEGIN
    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;
    DECLARE @SLHDTuan INT;
    DECLARE @TienTuan MONEY;
    DECLARE @SLSP INT;

    SET @StartDate = DATEFROMPARTS(@Year, @Month, 1);
    SET @EndDate = DATEADD(MONTH, 1, @StartDate);
	
    SELECT
        @SLHDTuan = COALESCE(COUNT(DISTINCT DDH.MaDDH), 0),
        @TienTuan = COALESCE(SUM(DDH.ThanhTien), 0),
        @SLSP = COALESCE(SUM(CTDDH.SoLuong), 0)
    FROM
        DDH
    INNER JOIN
        CTDDH ON DDH.MaDDH = CTDDH.MaDDH
    WHERE
        DDH.NgayDat >= @StartDate AND DDH.NgayDat < @EndDate
        AND DDH.TrangThai = 3; -- Thêm điều kiện TrangThai = 3

    -- Hiển thị kết quả
    SELECT
        SLHDThang = @SLHDTuan,
        TienThang = @TienTuan,
        SLSP = @SLSP;
END;

GO
/****** Object:  StoredProcedure [dbo].[ThongKeTuan]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeTuan]
AS
BEGIN
    DECLARE @StartDate DATETIME;
    DECLARE @EndDate DATETIME;
    DECLARE @SLHDTuan INT;
    DECLARE @TienTuan MONEY;
    DECLARE @SLSP INT;

    SET @StartDate = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0); 
    SET @EndDate = DATEADD(DAY, 6, @StartDate); 

    SELECT
        @SLHDTuan = COALESCE(COUNT(DISTINCT DDH.MaDDH), 0),
        @TienTuan = COALESCE(SUM(DDH.ThanhTien), 0),
        @SLSP = COALESCE(SUM(CTDDH.SoLuong), 0)
    FROM
        DDH
    INNER JOIN
        CTDDH ON DDH.MaDDH = CTDDH.MaDDH
    WHERE
        DDH.NgayDat BETWEEN @StartDate AND @EndDate
        AND DDH.TrangThai = 3; -- Thêm điều kiện TrangThai = 3

    -- Hiển thị kết quả
    SELECT
        SLHDTuan = @SLHDTuan,
        TienTuan = @TienTuan,
        SLSP = @SLSP;
END;


GO
/****** Object:  StoredProcedure [dbo].[UpdateCartItemQuantity]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCartItemQuantity]
    @CustomerId INT,
    @ProductId INT,
    @NewQuantity INT
AS
BEGIN
    -- Kiểm tra xem sản phẩm đã tồn tại trong chi tiết giỏ hàng chưa
    IF EXISTS (SELECT * FROM CTGioHang WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND MaSP = @ProductId)
    BEGIN
        -- Cập nhật số lượng mới và cập nhật tổng tiền trong bảng chi tiết giỏ hàng cùng một lúc
        UPDATE CTGioHang
        SET SoLuong = @NewQuantity,
            ThanhTien = @NewQuantity * SP.GiaTien
        FROM CTGioHang CT
        INNER JOIN SanPham SP ON CT.MaSP = SP.MaSP
        WHERE CT.MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId) AND CT.MaSP = @ProductId

        -- Cập nhật tổng tiền trong bảng giỏ hàng sau khi cập nhật số lượng
        UPDATE G
        SET TongTienGioHang = (SELECT SUM(CT.SoLuong * SP.GiaTien)
                              FROM CTGioHang CT
                              INNER JOIN SanPham SP ON CT.MaSP = SP.MaSP
                              WHERE CT.MaGioHang = G.MaGioHang)
        FROM GioHang G
        WHERE G.MaKH = @CustomerId
    END
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateTrangThaiHoanHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTrangThaiHoanHang]
(
    @MaHoanHang INT,
    @TrangThai INT
)
AS
BEGIN
    -- Cập nhật trạng thái của HoanHang
    UPDATE [ThietBiDienTu].[dbo].[HoanHang]
    SET [TrangThai] = @TrangThai
    WHERE [MaHoanHang] = @MaHoanHang;

    -- Nếu trạng thái là 2, cập nhật trạng thái của DDH thành 3
    IF @TrangThai = 2
    BEGIN
        UPDATE [ThietBiDienTu].[dbo].[DDH]
        SET [TrangThai] = 3
        WHERE [MaDDH] IN (SELECT [MaDDH] FROM [ThietBiDienTu].[dbo].[HoanHang] WHERE [MaHoanHang] = @MaHoanHang);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[XoaGioHang]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaGioHang]
    @CustomerId INT
AS
BEGIN
    DELETE FROM CTGioHang
    WHERE MaGioHang IN (SELECT MaGioHang FROM GioHang WHERE MaKH = @CustomerId)
END


GO
/****** Object:  Trigger [dbo].[trg_ThemDuLieuBaoHanh]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ThemDuLieuBaoHanh]
ON [ThietBiDienTu].[dbo].[DDH]
AFTER UPDATE
AS
BEGIN
    -- Insert into BaoHanh table if MaDDH does not exist
    INSERT INTO [ThietBiDienTu].[dbo].[BaoHanh] ([MaDDH], [MaSP], [NgayDH], [MaKH], [TenKH], [SDT], [NoiDungBH], [TrangThai])
    SELECT
        i.[MaDDH],
        c.[MaSP],
        i.[NgayDat],
        i.[MaKH],
        kh.[TenKH],
        kh.[SoDienThoaiKH],
        sp.[ChinhSachBaoHanh],
       1 
    FROM
        inserted i
    JOIN [ThietBiDienTu].[dbo].[CTDDH] c ON i.[MaDDH] = c.[MaDDH]
    JOIN [ThietBiDienTu].[dbo].[SanPham] sp ON c.[MaSP] = sp.[MaSP]
    JOIN [ThietBiDienTu].[dbo].[KhachHang] kh ON i.[MaKH] = kh.[MaKH]
    WHERE
        i.[TrangThai] = 3 
        AND sp.[ChinhSachBaoHanh] IS NOT NULL
        AND NOT EXISTS (SELECT 1 FROM [ThietBiDienTu].[dbo].[BaoHanh] bh WHERE bh.[MaDDH] = i.[MaDDH]);
END;

GO
/****** Object:  Trigger [dbo].[Trg_CapNhatGiaTien]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_CapNhatGiaTien]
ON [dbo].[SanPham]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(GiaGoc) OR UPDATE(UuDai)
    BEGIN
        UPDATE sp
        SET GiaTien = i.GiaGoc - (i.GiaGoc * ISNULL(i.UuDai, 0) / 100)
        FROM [dbo].[SanPham] sp
        INNER JOIN inserted i ON sp.MaSP = i.MaSP
    END
END;


GO
/****** Object:  Trigger [dbo].[trg_UpdateStatus]    Script Date: 25/01/2024 7:42:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateStatus] 
ON [dbo].[SanPham]
AFTER INSERT, UPDATE  
AS
BEGIN
    UPDATE p
    SET TrangThai = CASE
        WHEN i.SoLuongTon <= 0 THEN 2
        ELSE 1
    END
    FROM SanPham p
    INNER JOIN inserted i ON p.MaSP = i.MaSP
END
GO
